    <ul id="account-menu-dropdown" class="dropdown-content">
      <li><a href="#">Account Setting</a></li>
      <li>
        <%=link_to "Adverts",   advertisements_path, method: :get%>
      </li>
      <%if user_signed_in?%>
      <li><%=link_to "Logout", destroy_user_session_path,method: :delete%></li>
      <%else%>
      <li><%=link_to "SignUp/Login",  new_user_session_path%></li>
      <%end%>
    </ul>
    <ul class="sidenav" id="mobile-nav">
      <li><%=link_to "Home" , root_path%></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Account Setting</a></li>
      <li>
        <%=link_to "Adverts",   advertisements_path, method: :get%>
      </li>
      <%if user_signed_in?%>
      <li><%=link_to "Logout", destroy_user_session_path,method: :delete%></li>
      <%else%>
      <li><%=link_to "SignUp/Login",  new_user_session_path%></li>
      <%end%>
    </ul>


    <nav class="green">
      <div class="nav-wrapper">
        <div class="container">
          <%=link_to "Ubarnite" , root_path, class: 'brand-logo'%>
          <a href=" #" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li class="menu-content"><%=link_to "Home" , root_path%></li>
            <li class="menu-content"><a href="#">About Us</a></li>
            <li class="menu-content"><a href="#">Contact Us</a></li>
            <li id="current_user_nav" class="dropdown-trigger menu-content" href="#!" data-target="account-menu-dropdown"><%= user_signed_in? ? "Hi, #{current_user.first_name}": "Account"%></li>
          </ul>
        </div>
      </div>
    </nav>
    <script>
      $(document).ready(function() {
        $('.sidenav').sidenav();
        $(".dropdown-trigger").dropdown();
      });
    </script>