<nav id="header" class="fixed w-full z-30 top-0 text-white">
  <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
    <div class="pl-4 flex items-center">
      <li><a class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl
                lg:text-4xl" href="#">
        </a>
    </div>
    <div class="block lg:hidden pr-4">
      <button id="nav-toggle" class="flex items-center p-1 text-orange-800 hover:text-gray-900">
        <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0
                bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
      <ul class="list-reset lg:flex justify-end flex-1 items-center">
        <li class="mr-3">
          <%=link_to "Home" , root_path, class:"inline-block py-2 px-4 text-black font-bold no-underline"%>
        </li>
        <li class="mr-3">
          <a class="inline-block text-black no-underline hover:text-gray-800
          hover:text-underline py-2 px-4" href="#">About Us
          </a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-black no-underline hover:text-gray-800
          hover:text-underline py-2 px-4" href="#">Contact Us
          </a>
        </li>
      </ul>
      <div class="dropdown inline-block relative">
        <button id="navAction" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800
        font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75">
          <%= user_signed_in? ? "Hi,#{current_user.first_name}": "Account"%>
        </button>
        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
          <li><a href="#" class="block px-4 py-2">Account Setting</a></li>
          <li>
            <%=link_to "Adverts",   advertisements_path, class: "block px-4 py-2", method: :get%>
          </li>
          <%if user_signed_in?%>
          <li><%=link_to "Logout", destroy_user_session_path, class: "block px-4 py-2", method: :delete%></li>
          <%else%>
          <li><%=link_to "SignUp/Login",  new_user_session_path, class: "block px-4 py-2"%></li>
          <%end%>
        </ul>

      </div>

    </div>
  </div>

  <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
</nav>