<%= simple_form_for advertisement, url:  advertisements_path do |f| %>
<%=f.hidden_field :user_id,value: current_user.id %>
<%= f.error_notification %>
<div class="row">
  <div class="col s6">
    <%= f.input :category, placeholder: "Electronics", required: true%>

  </div>
  <div class="col s6">
    <%= f.input :advert_type, placeholder: "Phone" , required: true%>

  </div>
</div>
<div class="row">
  <div class="col s12">
    <%= f.input :model, placeholder: "Samsung GalaxyS5"%>

  </div>
</div>
<div class="row">
  <div class="col s6">
    <%= f.input :price, placeholder: "20000", required: true%>
  </div>
  <div class="col s6">
    <%= f.input :location, placeholder: "Nairobi", required: true%>

  </div>
</div>
<div class="row">
  <div class="col s12">
    <%=f.button :submit, "Post Advert", class: " waves-effect waves-dark btn-large "%>
  </div>
</div>
<%end%>