<%if @advertisetments.present?%>

<h5 class="center-align">Dear <%=current_user.first_name%> your adverts are</h5>
<div>
  <table class="centered striped responsive-table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Type</th>
        <th>Model</th>
        <th>price</th>
        <th>Location</th>
      </tr>
    </thead>

    <tbody>
    <tbody>
      <% @advertisetments.each do |advertisement| %>
      <tr>
        <td><%= advertisement.category %></td>
        <td><%= advertisement.advert_type %></td>
        <td><%= advertisement.model %></td>
        <td><%= advertisement.price %></td>
        <td><%= advertisement.location %></td>
        <td><%=link_to 'Edit', edit_advertisement_path(advertisement.id) %><td>
        <td><%= link_to 'Delete', advertisement, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
      <% end %>
    </tbody>
    </tbody>
  </table>
</div>
<%= link_to 'Create Advert More', new_advertisement_path %>
<%else%>
<p>You have no advert would like to create one?</p>
<%= link_to 'Create Advert', new_advertisement_path %>
<%end%>