<%= form_with scope: :advertisement, url: advertisements_path, local: true do |form| %>
<% if @advertisement.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

  <ul>
    <% @advertisement.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form.text_field :category, placeholder: "Category", class: "field block border border-grey-light w-full p-3 rounded mb-4" %>
<%= form.text_field :advert_type, placeholder: "Advert type", class: "field block border border-grey-light w-full p-3 rounded mb-4" %>
<%= form.text_field :model, placeholder: "Model", class: "field block border border-grey-light w-full p-3 rounded mb-4" %>
<%= form.text_field :price, placeholder: "Price", class: "field block border border-grey-light w-full p-3 rounded mb-4" %>
<%= form.text_field :location, placeholder: "Location", class: "field block border border-grey-light w-full p-3 rounded mb-4" %>
<%= form.submit 'Create Advert', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
<% end %>