<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @advertisement.category %>
</p>

<p>
  <strong>Type:</strong>
  <%= @advertisement.advert_type %>
</p>

<p>
  <strong>Model:</strong>
  <%= @advertisement.model %>
</p>

<p>
  <strong>Location:</strong>
  <%= @advertisement.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= @advertisement.price %>
</p>