<div class="row">
  <div class="col s12 m4 offset-m4">
    <div class="card">
      <div class="card-action teal lighten-1 white-text">
        <h3>Login </h3>
      </div>
      <div class="card-content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <%= f.email_field :email, placeholder: "Email"%>
        </div>
        <div class="row">
          <%= f.password_field :password, placeholder: "password",autofocus: true%>
        </div>
        <div class="row">
          <%=f.submit "Sign In", class: "btn-large waves-effect waves-dark ", id: "signin_button"%>
        </div>
        <% if devise_mapping.rememberable? %>
        <div>
          <%= f.check_box :remember_me %>
          <span><%= f.label :remember_me,  class: "black-text"%></span>
        </div>
        <% end %>
        <%end%>
        <div class="row">
        <%= render "devise/shared/links" %>
        </div>
      </>
    </div>
  </div>
</div>